<p>Are you sure you want to delete this user?</p>
<p> {{ data.user }} </p>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Yes</button>
</div>
