<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button mat-icon-button>
    <mat-icon class="mat-18">person</mat-icon>
  </button>
  <h3>User Manager</h3>
  <span class="spacer"></span>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
    
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>

<div class="content" role="main">

<!--  &lt;!&ndash; Next Steps &ndash;&gt;-->
<!--  <h2>Current Users</h2>-->
<!--  <input type="hidden" #selection>-->
<!--  <div class="card-container">-->

<!--    &lt;!&ndash; show users &ndash;&gt;-->
<!--    <div class="card card-small" routerLink="/user" (click)="selection.value = 'component'" tabindex="0">-->
<!--        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>-->
<!--      <span>User Table</span>-->
<!--    </div>-->

<!--    &lt;!&ndash; something else users &ndash;&gt;-->
<!--    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">-->
<!--        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>-->
<!--      <span>Angular Material</span>-->
<!--    </div>-->

<!--  </div>-->




</div>

<router-outlet></router-outlet>


<!-- <footer class="page-footer pt-4 my-footer">
<div id="clouds">
    
</div>
</footer> -->