<div class="container">
  <h3 mat-dialog-title>Add User</h3>

  <form class="mat-dialog-content" [formGroup]="myGroup">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Name" formControlName="name" name="name" required >
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput  class="form-control" placeholder="Email" formControlName="email" name="email" required email>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button [disabled]="myGroup.invalid" (click)="onYesClick()">Add</button>
    </div>
  </form>
</div>
