
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

#user-table {
  margin-left: 15px;
  margin-right: 15px;
}

table.user-table button {
  margin: 5px;
  border: none;
  color: #1976d2;
}

table.user-table .actions-head {
  padding-left: 10px;
}

.add-user {
  float: right;
  text-align: right;
}

.add-user mat-icon {
  font-size: 35px;
  color: #1976d2;
  width: 100%;
  height: 100%;
  line-height: 1 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #1976d2 !important;
 }


::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #1976d2 !important;;
}